html {
	background:#b8eafd;
}


img{
	width: 35.4cm;
	height: 5cm;
}

h1{
	color:#271a03;
	font-family: cursive;
}

p {
	color: #271a03;
	font-family: cursive;
	font-size: 18px;
}

 li {
 	color: #271a03;
 	font-family: cursive;
	font-size: 18px;
}