html{
	background:#b8eafd;
}

form{
	margin: 80px auto;
	color: red;
	width: 350px;
	height: 500px;
	background: darkorange;
	border-bottom:10px solid #f05800;
	border-left: 10px solid #f05800;
	border-right: 10px solid #f05800;

}
form label{ 
	display: block;
	color: white;
	background: #f05800;
	padding: 12px 40;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: cursive;
}

form input[type="text"], 
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="password"]{
	width: 320px;
	padding: 10px 40px;
	font-weight: bold;
	font-family: cursive;
	margin: 18px;
	margin-bottom: 10px;
}

/*botones*/
form button[type="submit"]{
	background: #f05800;
	color: white;
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 10px;
	padding: 10px 23.5px;
	border:none;
	border-radius: 6px;
	
}
form button[type="submit"]:hover{
background: darkorange;
cursor:pointer;

}